* {
  font-family: "Playfair Display";
  font-weight: lighter;
  text-align: center;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: white;
    border-radius:100vw;
    margin-block:.5em;
}
::-webkit-scrollbar-thumb {
    background: black;
    border-radius:100vw;
    
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
.grid,
.price {
  text-align: center;
  padding: 20px;
}
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: auto;
  background-color: white;
}
a {
  color: black;
}
nav {
  height: 160px;
  border-color: rgba(232, 232, 232, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: 0 0 1px 0;
}
.navigation {
  background-color: white;
  width: 100%;
  height: 160px;
  position: fixed;
  top: 0;
  z-index: 50;
}
.logo {
  width: 150px;
  height: auto;
  /*text-align: left;*/
}
.logo2 {
  text-decoration: none;
  position:relative;
  /* top:20px; */
  font-size: 20px;
}
.btn {
  border: none;
  background-color: transparent;
  position: relative;
  bottom: 81.5px;
  padding-left: 20px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}.bar1 {
  width: 15px;
  height: 5px;
  background-color: lightgrey;
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 100vw;
  text-align: center;
}.bar2 {
  width: 35px;
  height: 5px;
  background-color: lightgrey;
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 100vw;
}.bar3 {
  width: 15px;
  height: 5px;
  background-color: lightgrey;
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 100vw;
}
.drop1 {
  width: 30px;
  height: auto;
  padding-right: 20px;
}
.right-corner {
  background-color: black;
  border: none;
  float: right;
  position: relative;
  top: 0px;
}
.img1 {
  width:300px;
  height:auto;
  border-radius: 7%;
}
ul {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}
li {
  padding: 0;
}
input[type="file" i] {
  appearance: menulist-button;
  background-color: rgb(238, 232, 225);
  cursor: default;
  align-items: normal;
  color: #535353;
  text-align: center !important;
  border: none;
  overflow: visible;
}

.sidenav {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-bottom: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.start {
  height: 500px;
}
.start h1 {
  position: relative;
  top: 120px;
}
.start p {
  position: relative;
  top: 120px;
}
.price {
  border-radius: 7%;
  justify-content: center;
}
.hr {
  background-color: #535353;
  max-width: 550px;
  width: 100%;
  height: 2px;
  border: none;
}
li a {
  text-decoration: none;
  color: #535353;
}
.hr2 {
  background-color: #535353;
  width: 100%;
  height: 2px;
  border: none;
}
.button {
  background-color: rgb(238, 232, 225);
  position:relative;
  border: none;

}
input {
  background-color: white;
  border: none;
  color: #535353;

  text-align: center;
  font-size: 16px;

  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button {
  background-color: rgb(238, 232, 225);
  border: none;
  color: #535353;

  text-align: center;
  font-size: 16px;

  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
textarea {
  background-color: white;
  border: none;
  color: #535353;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
